:root {
  color-scheme: light-dark;

  /* Colours */
  --color-bg: light-dark(#f7e989, #2e2d2d);

  /* Header */
  --color-head-bg: light-dark(#f8ada3, #9e5f5f);

  /* Logotype */
  --color-logotype-bg: light-dark(#ac6f68, #5d3a37);
  --color-text-logotype: light-dark(#030300, #f4eae5);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#f8ada3, #9e5f5f);

  /* Links */
  --color-link-bg: light-dark(#c4d7ab, #556347);
  --color-link-hover: light-dark(#ffffff, #cfc8b5);
  --color-link-active: light-dark(#47433d, #d8d2c2);
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#aee2f8, #476979);
  --color-headline-text-page: light-dark(#000000, #ffffff);

  /* Tekst */
  --color-text: light-dark(#000000, #f5f5f5);
  --color-text-inverted: light-dark(#000000, #ffffff);

  /* Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #3a3a3a);
  --color-cta-card-bg: light-dark(#d5d2d0, #5b5856);

  /* News-cards */
  --color-news-bg: light-dark(#c4d7ab, #556347);
  --color-news-bg-inverted: light-dark(#fcfbe1, #3f3d2e);
  --color-cta-newscard-bg: light-dark(#fcfbe1, #3f3d2e);
  --color-cta-newscard-bg-inverted: light-dark(#fcfbe1, #3f3d2e);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#ffffff, #3a3a3a);
  --color-infobox-1-bg: light-dark(#cfcec6, #5a5952);
  --color-infobox-2-bg: light-dark(#969995, #4a4d49);

  #site-logo {
    height: 55px; /* lille */
    width: auto;
    display: block;
  }
}

html.dark {
  color-scheme: dark;
}
