:root {
  /* Colours */
  --color-bg: #f7e989; /* page background /*

  /* Header */
  --color-head-bg: #f8ada3;

  /* Logotype */
  --color-logotype-bg: #ac6f68;
  --color-text-logotype: #030300;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #f8ada3;
  /* Links */
  --color-link-bg: #c4d7ab;
  --color-link-hover: #fff; /* used */
  --color-link-active: #47433d; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #aee2f8;
  --color-headline-text-page: #000000;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #000000;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #c4d7ab;
  --color-news-bg-inverted: #fcfbe1;
  --color-cta-newscard-bg: #fcfbe1;
  --color-cta-newscard-bg-inverted: #fcfbe1;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
